<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Answer_roots</title>
        <link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />
    </head>

    <body>
        <div id="menu">
            <a href="index" class="outil">Home</a>
            <a href="roots" class="outil">Roots</a>
        </div>

        <p> The delta of {{function}} is equal to {{delta}}<br/></p>
        <p> First root = {{x1}}<br/>
            Second root = {{x2}}</p>
    </body>
</html>