<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Integrate</title>
        <link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />
    </head>

    <body>
        <div id="title">
            <h1>Integral</h1>
        </div>

        <div id="menu">
            <a href="index" class="outil">Home</a>
        </div>

        <form method="post" action="/Answer_integ">
            <p>Function: <input type ="text" name="function" /></p>
            <p>Lower: <input type ="text" name="lower" /></p>
            <p>Upper: <input type ="text" name="upper" /></p>
            <input type ="submit" value="calculer" />
    </body>
</html>