<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Roots</title>
        <link rel="stylesheet" href="static/css/mystyle.css" type="text/css" />
    </head>

    <body>
        <div id="menu">
            <a href="index" class="outil">Home</a>
        </div>

        <form method="post" action="/Answer_roots">
            <p>a: <input type ="text" name="number_a" /></p>
            <p>b: <input type ="text" name="number_b" /></p>
            <p>c: <input type ="text" name="number_c" /></p>
            <input type ="submit" value="calculer" />
        </form>
    </body>
</html>